In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
print(school_data_complete.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [3]:
#school_data.head()
#student_data.head()
school_data_complete.head()
#print(len(school_data_complete))
total_students = len(school_data_complete)
total_schools = len(school_data_complete["school_name"].unique())
#print(total_schools)
total_budget = school_data["budget"].sum()
avg_math_score = school_data_complete["math_score"].mean()
avg_rdg_score = school_data_complete["reading_score"].mean()
query_math_column = school_data_complete["math_score"] >= 70
query_rdg_column = school_data_complete["reading_score"] >= 70
count_passing_math = school_data_complete[query_math_column].count()["student_name"]
count_passing_reading = school_data_complete[query_rdg_column].count()["student_name"]
avg_passing_math = count_passing_math/total_students*100
avg_passing_reading = count_passing_reading/total_students*100
count_passing_overall = school_data_complete[query_math_column & query_rdg_column].count()["student_name"]
overall_passing = count_passing_overall / total_students *100

print(total_budget, avg_math_score,avg_rdg_score,avg_passing_math, avg_passing_reading, overall_passing)

dict_summary_data = {"Total Schools": [total_schools],
                "Total Students": [int(total_students)],
                "Total Budget": [total_budget],
                "Average Math Score": [avg_math_score],
                "Avergae Reading Score":[avg_rdg_score],
                "% Passing Math":[avg_passing_math],
                "% Passing Reading":[avg_passing_reading],
                "% Overall Passing":[overall_passing]
               }

df_summary_data = pd.DataFrame(dict_summary_data)

df_summary_data

24649428 78.98537145774827 81.87784018381414 74.9808526933878 85.80546336482001 65.17232575950983

,Total Schools,Total Students,Total Budget,Average Math Score,Avergae Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [4]:
df_summary_data["Total Budget"] = df_summary_data["Total Budget"].map("${:,.2f}".format)
df_summary_data["Total Students"] = df_summary_data["Total Students"].map("{:,}".format)

df_summary_data

,Total Schools,Total Students,Total Budget,Average Math Score,Avergae Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326