In [122]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [123]:
print(school_data_complete.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [124]:
#school_data.head()
#student_data.head()
school_data_complete.head()
#print(len(school_data_complete))
total_students = len(school_data_complete)
total_schools = len(school_data_complete["school_name"].unique())
#print(total_schools)
total_budget = school_data["budget"].sum()
avg_math_score = school_data_complete["math_score"].mean()
avg_rdg_score = school_data_complete["reading_score"].mean()
query_math_column = school_data_complete["math_score"] >= 70
query_rdg_column = school_data_complete["reading_score"] >= 70
count_passing_math = school_data_complete[query_math_column].count()["student_name"]
count_passing_reading = school_data_complete[query_rdg_column].count()["student_name"]
avg_passing_math = count_passing_math/total_students*100
avg_passing_reading = count_passing_reading/total_students*100
count_passing_overall = school_data_complete[query_math_column & query_rdg_column].count()["student_name"]
overall_passing = count_passing_overall / total_students *100

print(total_budget, avg_math_score,avg_rdg_score,avg_passing_math, avg_passing_reading, overall_passing)

dict_summary_data = {"Total Schools": [total_schools],
                "Total Students": [int(total_students)],
                "Total Budget": [total_budget],
                "Average Math Score": [avg_math_score],
                "Avergae Reading Score":[avg_rdg_score],
                "% Passing Math":[avg_passing_math],
                "% Passing Reading":[avg_passing_reading],
                "% Overall Passing":[overall_passing]
               }

df_summary_data = pd.DataFrame(dict_summary_data)

df_summary_data

24649428 78.98537145774827 81.87784018381414 74.9808526933878 85.80546336482001 65.17232575950983

,Total Schools,Total Students,Total Budget,Average Math Score,Avergae Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [125]:
df_summary_data["Total Budget"] = df_summary_data["Total Budget"].map("${:,.2f}".format)
df_summary_data["Total Students"] = df_summary_data["Total Students"].map("{:,}".format)

df_summary_data

,Total Schools,Total Students,Total Budget,Average Math Score,Avergae Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [126]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [127]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [128]:



new_school_data = (
    school_data
    .set_index(["school_name"])
    .drop(["School ID"], axis=1)
    .rename(columns={"type":"School Type","size":"Total Students","budget":"Total School Budget"})
    .rename_axis(None).sort_index()
)

#new_school_data["Total School Budget"] = new_school_data["Total School Budget"].map("${:,.2f}".format)
new_school_data

                      School Type  Total Students  Total School Budget
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

In [129]:
avg_math_score_by_school = school_data_complete.groupby(["school_name"]).mean()["math_score"] 
avg_rdg_score_by_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"] 
query_math_column = school_data_complete["math_score"] >= 70 
count_passing_math = school_data_complete[query_math_column].groupby(["school_name"]).count()["student_name"] 
query_rdg_column = school_data_complete["reading_score"] >= 70 
count_passing_rdg = school_data_complete[query_rdg_column].groupby(["school_name"]).count()["student_name"] 
count_passing_overall = school_data_complete[query_math_column & query_rdg_column].groupby(["school_name"]).count()["student_name"]

print(count_passing_overall)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [130]:
dict_summary_data_by_school = {"School Type":new_school_data["School Type"]
                               ,"Total Students":new_school_data["Total Students"]
                               ,"Total School Budget":new_school_data["Total School Budget"]
                               ,"Per Student Budget": new_school_data["Total School Budget"]/new_school_data["Total Students"]
                               ,"Avergage Math Score":avg_math_score_by_school
                               ,"Average Reading Score":avg_rdg_score_by_school
                               ,"% Passing Math":count_passing_math/new_school_data["Total Students"]*100
                               ,"% Passing Reading":count_passing_rdg/new_school_data["Total Students"]*100
                               ,"% Overall Passing":count_passing_overall/new_school_data["Total Students"]*100
                               }

df_summary_data = pd.DataFrame(dict_summary_data_by_school)

df_summary_data["Total School Budget"] = df_summary_data["Total School Budget"].map("${:,.2f}".format)
df_summary_data["Per Student Budget"] = df_summary_data["Per Student Budget"].map("${:,.2f}".format)


df_summary_data

85.80546336482001

,School Type,Total Students,Total School Budget,Per Student Budget,Avergage Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333